.product-notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notfound-card {
  background: var(--white-color);
  width: 80%;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.notfound-message-card {
  background-image: url(../images/sad-face.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}

.notfound-message {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 20px;
  text-align: center;
}

.next-product {
  width: 50%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.next-product:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
